<div class="container">
  <h1>Photos</h1>

  <% @photoposts.each do |photopost| %>

      <div class="photopost">
       <h3><%= photopost.title %></h3>
        <strong>From: <%= photopost.user.email %></strong>
       <p><%= photopost.url %></p>
        <%= button_to like_photopost_path(photopost.id), method: :put,  class: 'btn btn-default btn-sm'  do %>
        <span>Like<%=" " +photopost.get_upvotes.size.to_s %></span>
        <% end %>
     </div>
<% end %>
</div>