<div class = "container">
  <h1>My Photos</h1>

  <% @photoposts.each do |photopost| %>

      <div class="photopost">
        <h3><%= photopost.title %></h3>
        <strong>From: <%= photopost.user.email %></strong>
        <p><%= photopost.url %></p>
        <%= link_to 'Edit', edit_photopost_path(photopost.id) %>
        <%= link_to 'Destroy', photopost, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>


  <% end %>

</div>