<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NYPins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <ul class="nav navbar-nav">
      <% if current_user %>
          <li class="pull-xs-right" id="loged"> Logged in as <%= current_user.name %>.</li>
          <li> <%= link_to "Log Out", logout_path, class: 'pull-xs-right' %></li>
      <% else %>
          <li> <%= link_to "Sign Up", signup_path, class: 'pull-xs-right', id: 'loged' %></li>
          <li> <%= link_to "Log In", login_path, class: 'pull-xs-right' %></li>
      <% end %>
    </ul>

    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/photoposts">NYPins</a>
      <ul class="nav navbar-nav">
        <li class="nav-item ">
          <a class="nav-link " href="/photoposts">Photoposts</a>
        </li>
        <li class="nav-item">
         <a class="nav-link " href='/profile'>Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <%flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
</div>

<%= yield %>



</body>
</html>
